<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>

<br/>

<script>

function setActiveTab()
{
	$("#navbar li").removeClass("active");
	$("#home").addClass("active");
}

</script>

